.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

form{
  background-color: rgb(226, 226, 226);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3{
  text-align: center;
  font-size: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

span {
  color: rgb(255, 48, 48);
  position: absolute;
  margin-top: -2%;
  font-weight: bold;
}
img{
  height:250px;
}
h2{
  font-size: 12px;
  font-weight: bold;
  margin: 5px;

}
p{
  font-size: 13px;
  margin: 5px;
}
.card{
  float: left;
  margin-left: 20px;
  margin-top: 10px;
  height: 430px;  
}
button{
  margin-left: 150px;
}